# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Build output
client/dist/
server/dist/

# Environment files
.env
.env.local
.env.production
.env.developement
client/.env
server/.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db